/* Global styles */
* {
    font-family: verdana, sans-serif;
    font-size: 14pt;
}

body, html {
    margin: 0;
    background-color: #0f0f0f;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Main container styles */
.main {
    padding: 20px;
    background: #0f0f0f;
    text-align: center;
    border-radius: 5px;
    max-width: 400px;
}

/* Title styles */
.title {
    background: #0f0f0f;
    color: rgb(243, 243, 235);
    font-family: helvetica;
    font-size: 15pt;
    padding: 8px;
    text-align: center;
}

/* Table and form styles */
table {
    width: 100%;
    color: white;
}

.icon-cell {
    text-align: center;
    padding: 10px;
}

.white-icon {
    color: white;
}

input[type="password"] {
    width: 100%;
    border-radius: 5px;
    border-color: #0f0f0f;
    background-color: #0f0f0f;
    color: white;
    padding: 5px;
}

/* Button styles */
.login input[type="submit"] {
    background-color: blue;
    color: white;
    width: 100%;
    border-radius: 5px;
    margin-top: 10px;
    border: none;
}

/* Error and success message styles */
.errors, .success {
    color: #ff0000;
    margin-top: 20px;
    width: 100%;
}

.success {
    color: green;
}

/* Adjustments for mobile devices */
@media only screen and (max-width: 600px) {
    .main {
        width: 95%;
    }

    input[type="password"], .login input[type="submit"], .errors, .success {
        width: 100%; /* Adjust width for mobile devices */
    }
}
